.sidebar {
    height: calc(100vh - 50px);
    width: 250px;
    position: fixed;
    top: 50px;
    /* Iniciar 50px abaixo do topo */
    left: -250px;
    /* inicia fora da tela */
    background-color: #f8f9fa;
    transition: 0.3s;
    /* animação suave */
}

/* quando sidebar é aberto */
.sidebar.open {
    left: 0;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
}

.sidebar a:hover {
    color: #007bff;
}

/* Estilo para o botão de menu hamburger */
.menu-btn {
    margin-top: 50px;
    font-size: 22px;
    cursor: pointer;
    margin-left: 10px;
    transition: margin-left 0.3s;
}

.menu-btn i {
    transition: transform 0.3s;
    /* Transição para a rotação do ícone */
}

/* Transformar em X quando aberto */
.menu-btn.open {
    margin-left: 250px;
    /* Mover para a direita */
}

.menu-btn.open i {
    transform: rotate(90deg);
    /* Girar o ícone para formar um X */
}

/* Estilos adicionais para as barras do menu se transformarem em X */
.menu-btn.open i::before {
    content: "\f00d";
    /* Código do FontAwesome para X */
}

#icon-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#icon-divider i {
    margin: 10px 0; /* Ajuste o espaçamento conforme necessário */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
}

.logo {
    color: var(--title);
    font-weight: 600;
    font-size: 1.5rem;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: var(--title);
    font-weight: 600;
}

.menu a:hover {
    color: var(--btn-color);
}

.login-button {
    background: var(--btn-color);
    color: var(--btn-text);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
